html, body {
    width: 100%;
    height: 100%;
    margin: auto;
    font-family: Cambria, serif;
    background-color: white;
}

/*Main container for all content*/
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/*Text container*/
.text-container {
    width: 60%;
    text-align: center;
    position: relative;
}

.text-container p {
    line-height: 35%;
}

.text-container #show-time {
    margin-bottom: 5px;
}

.text-container progress {
    border: 2px solid black;
    border-radius: 3%;
    margin-bottom: 10px;
}

.text-container progress::-webkit-progress-value {
    background: green;
}

.text-container progress::-webkit-progress-bar {
    background: white;
}

/*Main-content includes game-board and sidebar*/
.main-content {
    display: flex;
    height: 80%;
}

.found-pairs {
    display: inline-block;
    margin: 0;
}

/*Game-board attributes*/
#game-board {
    display: grid;
    width: 60%;
    margin-left: .5%;
    grid-gap: 0.5rem;
    padding: 1% 1.5% 1% 1.5%;
}

#game-board .card {
    text-align: center;
    color: white;
    background: #000000;
    border-radius: 5px;
    display: grid;
    place-items: center;
    font-size: 10px;
}

#game-board .card .front {
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    display: none;
    border-radius: 5px;
}

#game-board .card .cover {
    pointer-events: none;
    display: block;
    font-size: 2em;
}

.clicked {
    display: none;
}

.card:hover {
    transform: scale(1.01);
}

/*Sidebar attributes*/
.sidebar {
    margin-left: 4%;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 10%;
}

.sidebar .board-settings #card-character {
    margin-bottom: 0;
}

.sidebar .board-settings #board-size-cards {
    margin-top: 0;
    margin-bottom: 0;
}

.sidebar .board-settings #card-images {
    margin-top: 0;
}

.sidebar .board-colors {
    width: 100%;
}
.sidebar .new-game {
    margin-top: 10%;
}

.pop-up {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    display: none;
}

.modal {
    border-radius: 15px;
    text-align: center;
    position: absolute;
    top: 35%;
    left: 35%;
    background-color: white;
    margin: auto;
    padding: 20px;
    width: 20%;
}

/*Media query for screen sizing*/
@media only screen and (max-width: 800px) {
    html, body {
        background-color: white;
    }
    .main-content {
        flex-direction: column;
    }
    .text-container {
        width: 100%;
    }
    .main-content #game-board {
        width: 90%;
        margin-left: 5%;
    }
    .sidebar {
        width: 100%;
        flex-direction: row;
        gap: 15%;
    }
    .sidebar .sidebar-content2 {
        margin-top: 5%;
    }

    #game-board .card {
        height: 10vw;
    }

    #game-board .card .front {
        width: 100%;
        height: 100%;
    }

}

/* Media query for screen under 465px*/
@media only screen and (max-width: 490px) {
    .sidebar {
        flex-direction: column;
    }
    .modal {
        width: 80%;
        left: 3%;
        right: 5%;
    }
}