html, body {
    width: 100%;
    height: 100%;
    margin: auto;
    font-family: Cambria, serif;
    background-color: white;
}

/*Main container for all content*/
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/*Text container*/
.text-container {
    width: 60%;
    text-align: center;
    position: relative;
}

.text-container p {
    line-height: 35%;
}

.text-container #show-time {
    margin-bottom: 5px;
}

.text-container progress {
    border: 2px solid black;
    border-radius: 3%;
    margin: auto;
}

.text-container progress::-webkit-progress-value {
    background: green;
}

.text-container progress::-webkit-progress-bar {
    background: white;
}

/*Main-content includes game-board and sidebar*/
.main-content {
    display: flex;
}

/*Game-board attributes*/
.game-board {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    background-color: black;
    width: 60%;
    margin-left: .5%;
    position: relative;
    aspect-ratio: 100 / 29;
}

.game-board .card {
    text-align: center;
    color: white;
    border: 2px solid white;
    padding: 26%;
    position: relative;
    font-size: 25px;
}

.game-board .found-card {
    background-color: #ff5bff;
}

/*Sidebar attributes*/
.sidebar {
    margin-left: 4%;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 10%;
}

.sidebar .board-settings #card-character {
    margin-bottom: 0;
}

.sidebar .board-settings #board-size-cards {
    margin-top: 0;
}

.sidebar .board-colors {
    width: 100%;
}
.sidebar .new-game {
    margin-top: 10%;
}

/*Media query for screen sizing*/
@media only screen and (max-width: 600px) {
    html, body {
        background-color: white;
    }
    .main-content {
        flex-direction: column;
    }
    .text-container {
        width: 100%;
    }
    .main-content .game-board {
        width: 90%;
        margin-left: 5%;
    }
    .sidebar {
        width: 100%;
        flex-direction: row;
        gap: 15%;
    }
    .sidebar .sidebar-content2 {
        margin-top: 5%;
    }
}

/* Media query for screen under 465px*/
@media only screen and (max-width: 465px) {
    .sidebar {
        flex-direction: column;
    }
}